<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller CRM Prototype</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/sales-dashboard-style.css">
    <link rel="stylesheet" href="/static/mop-dashboard.css">
    <link rel="stylesheet" href="/static/finance-dashboard.css">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        body {
            background: {% if user and user.background_theme %} url('{{ user.background_theme }}')  lightgray 50% / cover no-repeat {% else %} #ffffff {% endif %};
            transition: background 0.5s ease;
        }
    </style>
</head>

<body>
    {% include 'partials/finance-header.html' %}
    <main>
        {% block content %}{% endblock %}
    </main>

    <div class="dashboard">
    <!-- Card 1: Переход к статистике оплат рассрочки -->
    <div class="card-mop">
        <h3>Посмотреть статистику оплат рассрочки</h3>
        <a href="/dashboard/finance/stats-detail" class="button">Перейти <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
            <path d="M6 3.83332L10 8.49999L6 13.1667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg></a>
    </div>

    <!-- Card 2: Просроченные выплаты -->
    <div class="card-mop">
        <h3>Просроченных выплат за месяц</h3>
        <div class="stats">
            <span class="number" id="overduePayments">0</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                <path d="M29.3334 9.83334L19.4938 19.6129C18.1637 20.9351 17.4985 21.596 16.6735 21.596C15.8486 21.5959 15.1835 20.9347 13.8537 19.6123L13.5346 19.2949C12.2035 17.9713 11.5379 17.3095 10.7124 17.3099C9.88683 17.3101 9.22176 17.9724 7.89164 19.2969L2.66675 24.5M29.3334 9.83334V17.2277M29.3334 9.83334H21.8906" stroke="#00CC22" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="previous" id="previousOverdue">0 за предыдущий месяц</div>
        </div>
    </div>

    <!-- Card 3: Оплачено вовремя -->
    <div class="card-mop">
        <h3>Оплачено рассрочек вовремя</h3>
        <div class="stats">
            <span class="number" id="timelyPayments">0</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                <path d="M29.3332 24.5L19.4936 14.7204C18.1634 13.3983 17.4982 12.7373 16.6733 12.7374C15.8484 12.7375 15.1833 13.3987 13.8534 14.7211L13.5344 15.0384C12.2032 16.362 11.5377 17.0239 10.7121 17.0235C9.88658 17.0232 9.22152 16.3609 7.8914 15.0364L2.6665 9.83334M29.3332 24.5V17.1056M29.3332 24.5H21.8904" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="previous" id="previousTimely">0 за предыдущий месяц</div>
        </div>
    </div>
</div>

    <div class="columns">
        <div class="column" data-status="SALES">
            <div class="column-header" >
                <div class="column-title">Закрытые</div>
                <div class="lead-count">0 лидов</div>
            </div>
<div class="lead-list" id="closedLeads">
        </div>
        </div>

        <div class="column" data-status="for-payment">
            <div class="column-header" >
                <div class="column-title">На выплату</div>
                <div class="tabs">
                    <div class="tab active" onclick="showSection('leads-payment', this)">Лиды</div>
                    <div class="tab" onclick="showSection('purchases-payment',this)">Закупки</div>
                </div>
            </div>
            <!-- Add cards for warm leads -->
            <div class="lead-list">
                <div id="leads-payment" class="section active">
                   
                </div>
                <div id="purchases-payment" class="section">
                  
                </div>
                </div>
            </div>



        <div class="column" data-status="paid">
            <div class="column-header" >
                <div class="column-title">Выплачено</div>
                <div class="tabs">
                    <div class="tab active" onclick="showSection('leads-paid', this)">Лиды</div>
                    <div class="tab" onclick="showSection('purchases-paid', this)">Закупки</div>
                </div>
            </div>

            <!-- Add cards for hot leads -->
            <div class="lead-list">
                <div id="leads-paid" class="section active">
                    <p>Нет выплаченных лидов.</p>
                </div>
                <div id="purchases-paid" class="section">
                    <p>Нет выплаченных закупок.</p>
                </div>
            </div>
        </div>
    </div>

   
    <script src="/static/finance-scripts.js"></script>
    <script src="/static/finance-search.js"></script>

    
</body>

</html>