* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f5f5f7;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}



.main-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.client-info {
    background-color: #f5f5f7;
    
    border-radius: 20px;
    padding: 20px;
}

.client-header {
    color: #000;

font-family: "Vela Sans GX";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
    margin-bottom: 20px;
}

span {
    display: inline-flex;
    align-items: center;

    background-color: transparent;

    
    border-radius: 15px;

}
.input_info_lead{
    padding: 8px 15px;
}

.tag {
    color: #FF3399;
}

.line{
    height: 1px;
    width: 100%;
    background-color: #E5E5E5;
    margin: 20px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
    font-size: 20px;
}

.info-box {
    background-color: white;

    padding: 15px;
    border-radius: 15px;
}


.info-box-tag {
    background-color: white;
    align-items: center;
    display: flex;
    padding: 4px 10px;
    justify-content: center;

    border-radius: 15px;
}

.info-label {
    color: #666;
    font-size: 20px;
    margin-bottom: 5px;
}

.info-value {
    font-weight: 600;
    font-size: 36px;
}

.price {
    color: #0066FF;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.price-card {
    background: white;
    border-radius: 16px;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.price-title {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.price-main {
    font-size: 40px;
    font-weight: bold;
    color: #1877F2; /* Синий цвет */
    margin-top: 4px;
}

.currency {
    font-size: 20px;
}

.divider {
    border: none;
    height: 1px;
    background: #ddd;
    margin: 12px 0;
}

.price-subtitle {
    font-size: 20px;
    color: #555;
}

.price-monthly {
    font-size: 40px;
    font-weight: bold;
    margin-top: 4px;
}

.months {
    font-size: 16px;
    color: black;
}
.chat-section {
    position: relative;
    background-color: #f5f5f7;
    border-radius: 20px;
    padding: 20px;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.message {
    background-color: #F5F5F7;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    max-width: 80%;
}

.message.sent {
    background-color: #0066FF;
    color: white;
    margin-left: auto;
}

.time {
    font-size: 12px;
    color: #666;
    text-align: right;
}

.actions {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 20px;
    gap: 15px;
    margin-top: 20px;
}

.action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    background: #FFF;
    
    backdrop-filter: blur(25px);
    cursor: pointer;
    text-align: center;
}


.monthly-price{
    color: #000;
    font-family: "Vela Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    bottom: 10px;
    position: absolute;

}

.overdue-due-date{
    color: #F00;
}

.action-button-finance {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    background: #FFF;
    gap: 15px;
    backdrop-filter: blur(25px);
    cursor: pointer;
    text-align: center;
}
.action-button-finance h3{
    text-align: justify;
    color: #000;
font-family: "Vela Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.action-button-finance p{
    color: #000;
    font-family: "Vela Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

.massenger-info{
    color: #000;

font-family: "Vela Sans GX";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.5;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 30px;
    display: flex
;
    gap: 30px;
    width: 60%;
    max-width: 1000px;
    /* text-align: center; */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
.modal-sure{
    border-radius: 10px;
background: #F7F8FC;
display: flex;
padding: 17px 20px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
flex: 1 0 0;
}

.modal-icon {
    font-size: 40px;
    color: #216BF4;
    margin-bottom: 15px;
}

.modal-title {
    font-size: 32px;
    margin: 0 0 15px;
    color: #1A1A1A;
}

.modal-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 25px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.btn {
    padding: 17px 20px;
    border: none;
    border-radius: 57px;
    font-size: 16px;
    cursor: pointer;
    flex: 1 0 0;
    text-align: left;
}
.password-container {
    display: flex;
    justify-content: space-between ;
    gap: 10px;
}
.copy-button {
    display: flex;
    gap: 5px;
}
.btn.cancel {
    color: #333;
    flex-grow: 1;
background: #F7F8FC;
}

.btn.confirm {
    background-color: #216BF4;
    color: white;
    flex-grow: 1;
}
.btn.danger {
    background-color: #ff4444;
    color: white;
    flex-grow: 1;
}

.btn.danger:hover {
    background-color: #ff0000;
}

.btn.cancel:hover {
    background-color: #D6D6D6;
}

.btn.confirm:hover {
    background-color: #1A54C4;
}

/* Показать модальное окно */
.modal.visible {
opacity: 1;
visibility: visible;
}

.role-options {
    display: flex;
align-items: center;
gap: 10px;
align-self: stretch;
    margin: 20px 0;
}

.role-button {
    cursor: pointer;
    font-size: 16px;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
    display: flex;

padding: 17px 20px;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;
border-radius: 57px;
}

.role-button.active {
    background-color: #216BF4;
    color: white;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #36f421;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    /* visibility: hidden; */
    width: fit-content;
    height: min-content;
}

.notification.show {
    opacity: 1;
    visibility: visible;
}
