* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f8f9fa;
    background: url("media/Фото 1.png") lightgray 50% / cover no-repeat;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
}
select {
    border: none;
    outline: none;
    background-color: transparent;
}

.btn-irrelevant.active {
    background: #216BF4;
    color: #FFF;
}

.nav-item {
    cursor: pointer;
    display: flex;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
padding: 14px;
align-items: center;
gap: 10px;
border-radius: 50px;
background: rgba(245, 245, 245, 0.90);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard {
    display: flex;
    gap: 20px;
}

.card-mop {
    display: flex;
    gap: inherit;
min-width: 220px;
padding: 20px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
border-radius: 30px;
background: rgba(245, 245, 245, 0.90);

backdrop-filter: blur(25px);
}

.card-mop h3 {
    font-family: "Vela Sans GX";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.card-mop .button {
    display: flex;
    gap: 10px;
padding: 14px 20px;
justify-content: space-between;
align-items: center;
cursor: pointer;
border-radius: 30px;
background: #216BF4;
}

.card-mop .stats {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Vela Sans GX";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



.card-mop .stats .trend {
    font-size: 18px;
}

.card-mop .previous {
    font-size: 14px;
    color: #777;

}

.trend-up {
    color: green;
}

.trend-down {
    color: red;
}


.saller-item{
    display: flex;
padding: 20px;
flex-direction: column;
gap: 10px;
align-self: stretch;
margin-top: 10px;
border-radius: 20px;
background: #FFF;
cursor: pointer;
}

.saller-info{
    display: flex;
    justify-content: space-between;
}

.saller-name{
    color: #000;

font-family: "Vela Sans GX";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.saller-position{
    color: #000;

font-family: "Vela Sans GX";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
align-items: center;
gap: 10px;
}

.lead-count{
    display: flex;

gap: 10px;

}
.come-lead{
display: flex;

padding: 15px;
justify-content: space-between;
align-items: center;
flex: 1 0 0;

border-radius: 10px;
background: rgba(245, 245, 245, 0.90);

backdrop-filter: blur(25px);
}

.all-report-button{
    display: flex;
padding: 20px;
align-items: center;
gap: 10px;
justify-content: space-between;
width: -webkit-fill-available;
border-radius: 20px;
background: #ffffff;
cursor: pointer;
}

.divider {
    border: none;
    height: 1px;
    stroke-width: 1px;
stroke: rgba(245, 245, 245, 0.90);
}




.lead-section {
    border-radius: 30px;
background: rgba(245, 245, 245, 0.90);

backdrop-filter: blur(25px);


    padding: 20px;
    margin-top: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.lead-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.lead-section-header h2 {
    color: #000000;
    font-size: 48px;
    font-weight: 500;
}

.lead-section-header h2 span {
    color: #666;
}

.lead-section-header a {
    color: #2979ff;
    text-decoration: none;
    font-size: 48px;
}


.lead-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;

    border-radius: 10px;
}

.inactive {
    display: none;
}


.all-report-button.selected {

    font-weight: bold;
    border: 1px solid #2979ff;
}

.saller-item.selected {
    border: 1px solid #2979ff;
}

.saller-item {
    cursor: pointer;
    transition: all 0.2s ease;
}

.all-report-button {
    cursor: pointer;
    transition: all 0.2s ease;
}


@media (max-width: 576px){
    .lead-card{
        display: block;
    }
}